<title>Ruby Newbie Blog</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />

<!-- <script type="text/javascript" src="/js/time.js"></script> -->

</head>
<!-- <body onload="init()"> -->
<body>
<h1> Ruby Newbie Blog </h1>
<div id="wrapper">
  <div id="content">
		<div id="content-left">
		  <p>Nothin but links</p>
		  
		  <a href="http://localhost:4567/">localhost</a><br />	
		  <a href="http://www.vogella.de/articles/Git/article.html">Git help</a><br />	
		  <a href="http://www.girlwithcomputer.com/category/sinatra/">Sinatra girl</a><br />	
		  <a href="http://mislav.uniqpath.com/poignant-guide/book/chapter-5.html">Ruby Why's</a><br />	
		  <a href="http://www.sinatrarb.com/intro">Sinatra official</a><br />	
		  <a href="http://rack.rubyforge.org/doc/files/SPEC.html">Rack spec</a><br />	
		  <a href="http://www.iovene.com/28/">Design Salvatore</a><br />	
		  <a href="http://exceptionalruby.com/">Ruby Exceptional</a><br />	
		  <a href="http://www.informit.com/articles/article.aspx?p=1759889">Ruby Books</a><br />	
		  <a href="http://www.youtube.com/watch?v=XP4o0ArkP4s">Learning Buckland</a><br />	
		  <a href="http://ruby.learncodethehardway.org/book/">Learning ruby Hard</a><br />	
		  <a href="">12</a><br />	
		  <a href="">13</a><br />	
		  <a href="">14</a><br />	
		  <a href="">15</a><br />	
      <br />	
		</div>
		<div id="content-main">
      <table>
        <tr>
          <td colspan=2 class="tableheader">Weekly Blog</td>
        </tr>
        <tr>
          <td>Week 1</td>
          <td>Insert info here</td>
        </tr>
      </table>
    </div>
		<div id="content-right">
		  <p><b><ul>Notes</ul></b><p>
		  <p>This project started as a merge of <a href="http://ruby.learncodethehardway.org/book/ex51.html">ex. 51</a> of 
		      learning ruby the hard way and GirlWithComputer's <a href="http://www.girlwithcomputer.com/category/sinatra/">Tic Tac Toe</a> project.
		  </p>
		  <p>Original Ubuntu Maverick Meerkat, ruby, rvm, git setup done long before<br />
		      To initialize Git: command is "git init"<br />
		      To add directory and contents:  "git add ."<br />
		      To commit to git master branch: git commit -m "[commit desc]"<br />
		      Installed Heroku client gem<br />
		      Added keys to Heroku: heroku keys:add ~/.ssh/id_rsa.pub<br />
		      To initialize Heroku: heroku create<br />
		      To get Heroku to work, installed ruby 1.9.3 (readline error pushing with 1.9.2)<br />
		      To push files to Heroku: git push heroku master
		  </p>
		  <p></p> 
		</div>
  </div>
	<!-- <div id="footer"></div>
	<div id="bottom"></div> -->
</div>
