<title>Randlive Setup</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />

<!-- <script type="text/javascript" src="/js/time.js"></script> -->

</head>
<!-- <body onload="init()"> -->
<body>
<h1> Randlive Setup </h1>
<div id="wrapper">
  <div id="content">
		<div id="content-left">
		  <p>Directory</p>
      |– config.ru <br />
      |– Gemfile <br />
      |– Rakefile <br />
      |– randlive.gemspec<br />
      |– bin <br />
      |– lib <br />
      | |– randlive.rb<br />
      | |– randlive<br />
      | | |– version.rb<br />
      | |– public<br />
      | | |– css<br />
      | | | |– style.css<br />
      | | |– js<br />
      | | | |– time.js<br />
      | |– views<br />
      | | |– index.erb<br />
      | | |– layout.erb<br />
      | | |– setup.erb<br />
      | | |– time.erb<br />
      | | |– hello_form.erb<br />
      | | |– greg.erb<br />
      | | |– nick.erb<br />
      | | |– patrick.erb<br />
      | | |– steve.erb<br />
      | | |– trevor.erb<br />
      | | |– will.erb<br />
      |– test <br />
      | |– test_randlive.rb<br />	
		</div>
		<div id="content-main">
      <table>
        <tr>
          <td class="tableheader"></td>
          <td class="tableheader">Section</td>
          <td class="tableheader">Tool</td>
          <td class="tableheader">Version</td>
        </tr>
        <tr>
          <td>1)&nbsp;</td>
          <td>Language</td>
          <td>Ruby</td>
          <td>1.9.3.dev</td>
        </tr>
        <tr>
          <td>2)&nbsp;</td>
          <td>Web Framework</td>
          <td>Sinatra</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>3)&nbsp;</td>
          <td>Test Framework</td>
          <td>Rack</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>4)&nbsp;</td>
          <td>Markup Language</td>
          <td>ERB</td>
          <td>&nbsp</td>
        </tr>
        <tr>
          <td>5)&nbsp;</td>
          <td>Build tool</td>
          <td>Rake</td>
          <td>0.9.2</td>
        </tr>
        <tr>
          <td>6)&nbsp;</td>
          <td>Gem manager</td>
          <td>Builder</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>7)&nbsp;</td>
          <td>Version manager</td>
          <td>RVM</td>
          <td>1.8.6</td>
        </tr>
        <tr>
          <td>8)&nbsp;</td>
          <td>Collaboration Tool</td>
          <td>GIT</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>9)&nbsp;</td>
          <td>Webhost</td>
          <td>Heroku</td>
          <td>2.20.1</td>
        </tr>
        <tr>
          <td>10)&nbsp;</td>
          <td>Stylesheet</td>
          <td>CSS file</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11)&nbsp;</td>
          <td>Client-side script</td>
          <td>JS file</td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </div>
		<div id="content-right">
		  <p><b><ul>Notes</ul></b><p>
		  <p>This project started as a merge of <a href="http://ruby.learncodethehardway.org/book/ex51.html">ex. 51</a> of 
		      learning ruby the hard way and GirlWithComputer's <a href="http://www.girlwithcomputer.com/category/sinatra/">Tic Tac Toe</a> project.
		  </p>
		  <p>Original Ubuntu Maverick Meerkat, ruby, rvm, git setup done long before<br />
		      To initialize Git: command is "git init"<br />
		      To add directory and contents:  "git add ."<br />
		      To commit to git master branch: git commit -m "[commit desc]"<br />
		      Installed Heroku client gem<br />
		      Added keys to Heroku: heroku keys:add ~/.ssh/id_rsa.pub<br />
		      To initialize Heroku: heroku create<br />
		      To get Heroku to work, installed ruby 1.9.3 (readline error pushing with 1.9.2)<br />
		      To push files to Heroku: git push heroku master
		  </p>
		  <p></p> 
		</div>
  </div>
	<!-- <div id="footer"></div>
	<div id="bottom"></div> -->
</div>
