<h3>Notes:</h3><br />
<p>
Currently in real week 30 (July23 - 27 [mon-fri])<br />
<br />
<ol>
  <li>Shared folder mount: <br />
      sudo mount -t vboxsf -o uid=1000,gid=1000 share ~/host</li>
  <li>Finished tutorial without extensions or chapter-end excercises (well only one or 2 after ch6)</li>
  <li>See it on <a href="https://blooming-lightning-2515.herokuapp.com/">Heroku</a>.  Requires 
  javascript and ssl.</li>
  <li>Ideas for first ruby app of my own:</li>
  <ol>
    <li>Tweet Super-Follow: Compile data from the movers and shakers of a field of interest into a
    more informative more organized news feed.</li>
    <ol>
      <li>Start with a web interface that fetches Twitter data through api/gem/<some other automated process></li>
      
    </ol>
    <li>Some sorta geo-app</li>
    <ol>
      <li>IP geocoding</li>
      <li>Virtual Move or Virtual Vacation</li>
      <ol>
        <li>Enter criteria for comfort (and career prospects)</li>
        <li>Generate list of possible country/states from as global distributed range as possible</li>
        <li>User enters top 1-3</li>
        <li>Pull up travel/career info by area</li>
        <li>Pull up neiborhood cost/desirability</li>
        <li>Allow user to refine neiborhood criteria and use slider to weight (nature, access, cost, availability, crime, etc)</li>
        <li>Show top 3 computer generated pics for neiborhoods</li>
        <li>Allow user to set top 3 pics</li>
        <li>Pull up realestate or traveller accommodation listings for the neighborhoods</li>
        <li>User to select home/accomadations to move into</li>
        <li>Virtually move in (web page home for each place)</li>
        <li>Generate as much current local data as possible to present to user</li>
        <li>Present as much geo-specific current data as possible, allow user to turn it off/on</li>
        <ol>
          <li>Tweets?</li>
          <li>Online local paper - articles and reader posts</li>
          <li>Visual content</li>
        </ol>
        <li>Keep score for indicators of crime, job growth/reduction, population changes, etc.  Use this to compare to other virtual destinations.</li>
      </ol>
    </ol>
  </ol>
  <li>Stuff I picked up:</li>
  <ol>
    <li>ERD gem: rails-erd</li>
    <ol>
      <li>Uses graphviz ($ sudo aptitudeinstall graphviz)</li>
      <li>Added gem 'rails-erd' to dev group in Gemfile</li>
      <li>Options can be found on website <a href="http://rails-erd.rubyforge.org/customise.html">http://rails-erd.rubyforge.org/customise.html</a></li>
      <li>Tried:</li>
      <ol>
        <li>$ rack erd</li>
        <li>$ rake erd attributes=foreign_keys,primary_keys,timestamps,inheritance,content indirect=true title='Twotepad erd v. 0.2'</li>
      </ol>
      <li>Results: Creates ERD.pdf file that contains entity-relationship diagram in same directory</li>
    </ol>
    <li>List all versions of a gem: $ gem list <gem name> -all -r</li>
    
  </ol>
  <li>Ideas for a game:</li>
  <ol>
    <li>Motivation: After dealing with a loss in the family, my wife and I both miss the escape that World of Warcraft (WoW) provided.  
        WoW is old now and they are not really trying to keep the interest of mature players.  The trouble is there is nothing significantly
        better out there.</li>
    <li>Goal: Create a new game, targeted at a mature audience that is as engaging as WoW used to be or better.</li>
    <li>Inspirations:</li>
    <ol>
      <li>Current fads that interest both adult women and men:</li>
      <ol>
        <li>Television:</li>
        <ol>
          <li>Storage Wars:</li>
          <ol>
            <li>Reality show:  Real people with differing, but interesting, personalities.</li>
            <li>Simple concept:  Not difficult to understand what there doing and to feel that you could do it too.</li>
            <li>Challenge:  Price is right style challenge of guessing what the locker is worth.</li>
            <li>Gambling:  Each locker auction is basically a gamble and the show portrays the gambling process with results very well.</li>
            <li>Artifacts:  The gambling factor builds excitement but it's the artifacts and their real-world appraisals and history that really hooks the viewer.</li>
            <li>What it's missing:  Although a very addicting show to start, looses it's appeal after a season because it lacks depth - the personalities and
                the "Antiques Road Show" factor in the appraisals just aren't strong enough to keep the audience enthralled.</li>
          </ol>
          <li>Hoarders:</li>
          <ol>
            <li>Reality show:  Probably the most "real-feeling" of the reality shows as opposed to a more scripted style like "Kitchen Nightmares".
                There's no doubt that drama is enhanced by editing and the introduction of certain family and friends.</li>
            <li>Invasion of privacy:  A combination of seeing a car-wreck moments after it happened with turning that crazy person on your block's life inside out by seeing the secrets they have in their home.</li>  
            <li>Shock value:  No matter how many times you see it, you are still shocked by the disgusting mess AND by the craziness.</li>
            <li>See the crazy:  The most unique part of this show is just how visual the mental illness is.  The mess is a mirror to the mind of the owner and it's fascinating, disturbing and very personal.</li>
            <li>I'm not so crazy:  An unexpected benefit to the watcher is just how much better you feel about yourself this can make you feel.  It's usually so hard to gauge just how you fit in 
                to society as far as mental wellness goes.  Here, you can instantly look around yourself in your home and say "I'm not that messed up!"</li>
            <li>What it's missing:  More in-depth psychology and more money will be needed.  Probably one of the potentially longest enduring of the new reality shows.  As time goes by, they can shift focus from the "car-wreck" fascination to the deep 
                and impacting look into emergency psychology in action.  People will go from laughing at the crazies to feeling bad for them so the show will have to shift it's focus to follow 
                the fickle-minded public to keep it's hold.  Rewarding the rehabilitated or easing the struggles of the struggling will make people feel better about watching this show in the long run and asuage their guilt.</li>
          </ol>
          <li>HGTV:</li>
          <li></li>
        </ol>
        <li>Older games:</li>
        <ol>
          <li>The "Tycoon" games:</li>
          <ol>
            <li>Rollercoaster Tycoon:</li>
            <li>Railroad Tycoon:</li>
          </ol>
          <li>Sim City:</li>
          <li>The Sims:</li>
          
        </ol>
      </ol>
    </ol>
  </ol>
</ol>

</p>
