<h3>Notes:</h3><br />
<p>
Currently in real week 25 (Jun18 - 22 [mon-fri])<br />
<br />
<ol>
  <li>Finished tutorial without extensions or chapter-end excercises (well only one or 2 after ch6)</li>
  <li>See it on <a href="https://blooming-lightning-2515.herokuapp.com/">Heroku</a>.  Requires 
  javascript and ssl.</li>
  <li>Ideas for first ruby app of my own:</li>
  <ol>
    <li>Tweet Super-Follow: Compile data from the movers and shakers of a field of interest into a
    more informative more organized news feed.</li>
    <ol>
      <li>Start with a web interface that fetches Twitter data through api/gem/<some other automated process></li>
      
    </ol>
    <li>Some sorta geo-app</li>
    <ol>
      <li>IP geocoding</li>
      <li>Virtual Move or Virtual Vacation</li>
      <ol>
        <li>Enter criteria for comfort (and career prospects)</li>
        <li>Generate list of possible country/states from as global distributed range as possible</li>
        <li>User enters top 1-3</li>
        <li>Pull up travel/career info by area</li>
        <li>Pull up neiborhood cost/desirability</li>
        <li>Allow user to refine neiborhood criteria and use slider to weight (nature, access, cost, availability, crime, etc)</li>
        <li>Show top 3 computer generated pics for neiborhoods</li>
        <li>Allow user to set top 3 pics</li>
        <li>Pull up realestate or traveller accommodation listings for the neighborhoods</li>
        <li>User to select home/accomadations to move into</li>
        <li>Virtually move in (web page home for each place)</li>
        <li>Generate as much current local data as possible to present to user</li>
        <li>Present as much geo-specific current data as possible, allow user to turn it off/on</li>
        <ol>
          <li>Tweets?</li>
          <li>Online local paper - articles and reader posts</li>
          <li>Visual content</li>
        </ol>
        <li>Keep score for indicators of crime, job growth/reduction, population changes, etc.  Use this to compare to other virtual destinations.</li>
      </ol>
    </ol>
  </ol>
  
</ol>
</p>
