<title><%= code %></title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />

<!-- <script type="text/javascript" src="/js/ttt.js"></script> -->

</head>
<body onload="init()">
<div id="wrap">

<div id="header">
<a name="top">&nbsp;</a><br />
<h1><a href="/">Ruby Newbie</a></h1>
<h2>Weekly blog by Brett Morin</h2>
</div>
<div id="contentbar"> 

<div class="contentbarleft">
Navigation :
</div>

<div class="contentbarright">
Articles :
</div>

</div>

<div id="content">

<div class="right"> 
<h3><%= code %></h3>  
<PRE>
  <%= filecontent %>
</PRE>
</div>

<div class="left"> 

</div>
<div style="clear: both;"> </div>

</div>
<a href="#top">back to top</a><br />
<div id="footer">
Designed by <a href="http://www.free-css-templates.com/">Free CSS Templates</a>, Thanks to <a href="http://www.openwebdesign.org/">Web Design Dubai</a>
</div>

</div>
