<title>Sorting Algorithms</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />

<!-- <script type="text/javascript" src="/js/ttt.js"></script> -->

</head>
<body onload="init()">
<div id="wrap">

<div id="header">
<a name="top">&nbsp;</a><br />
<h1><a href="/">Ruby Newbie</a></h1>
<h2>Weekly blog by Brett Morin</h2>
</div>
<div id="contentbar"> 

<div class="contentbarleft">
Navigation :
</div>

<div class="contentbarright">
Articles :
</div>

</div>

<div id="content">

<div class="right"> 
<h3>Sorting Algorithms</h3>  
  <form action="/sorts" method="post" accept-charset="utf-8">
    <h2>Input</h2><br />  
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="numbersin">Enter numbers separated by commas:</label><br />
    <% if numbers_in %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="numbersin" name="post[numbers_in]" value=<%= numbers_in %> />
    <% else %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="numbersin" name="post[numbers_in]" />
    <% end %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Run Sorts" /><br /> 
    <br /> 
    <h2>Output</h2><br />   
    
    <!--  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>You entered:</label>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= numbers_in %><br />  -->
      <table>
      <tr>
        <td><a href="showcode/sort" class="tip2">Bubble sort:<span>Click to see the code.</span></td>
        <% if numbers_in %>
        <td><%= bubble_sorted %></td></tr>
        <% end %>
      <tr>
        <td><a href="showcode/sort" class="tip2">My Sort:<span>Click to see the code.</span></a></td>
        <% if numbers_in %>
        <td><%= brett_sorted %></td></tr>
        <% end %>
      </table
    
  </form>

</div>

<div class="left"> 
<h2>Completed:</h2>
<ul> 
<li><a href="showcode/test_sort" class="tip2">Unit Tests<span>Click to see the code.</span></a></li>
<li><a href="showcode/sort" class="tip2">Bubble Sort<span>Click to see the code.</span></a></li>
<li><a href="showcode/sort" class="tip2">My Sort<span>Click to see the code.</span></a></li>
<li>Test sorts</li>
<li>Modify Web Pages to Show Code</li>
</ul>

<h2>Still outstanding:</h2>
<ul> 
<li>Form Validation</li>
<li>Selection Sort</li>
<li>Insertion Sort</li>
<li>Expand Unit Tests</li>
<li>Data Set Generator</li>
<li>Process Timer</li>
<li>Abstract Sort Class</li>
</ul>
</div>
<div style="clear: both;"> </div>

</div>
<a href="#top">back to top</a><br />
<div id="footer">
Designed by <a href="http://www.free-css-templates.com/">Free CSS Templates</a>, Thanks to <a href="http://www.openwebdesign.org/">Web Design Dubai</a>
</div>

</div>
