<h3>Notes from The Rspec Book:</h3>

<b>Skimming the beginning:</b><br />
<br />
<ol>
  <li>Book focuses on Behaviour-Driven-Development (BDD) including Test-Driven-Developmnet (TDD) techniques</li>
  <li>Start with Agile/Extreme Programming techniques:</li>
  <ol>
    <li>Define user roles</li>
    <li>Create scenarios for user roles as they would be served by application - simple sentences only</li>
    
  </ol>
  <li></li>
</ol>
<br /><br />
<b>Applying to My Twotepad</b><br />
<br />
<ol>
  <li>Identify Users:</li>
  <ol>
    <li>Self-teaching student:</li>
    <ol>
      <li>Description:</li>
      <ol>
        <li>Anyone* who wants to follow, record and organize tweets by experts in a given field of interest to the student</li>
        <ol>
          <li>* Population restricted to those able to go online and create a Twitter account</li>
        </ol>
        <li>Goal:  Learn the latest developments of a given field of study</li>
        <li>Methodology:  Using MyTwotepad: identify the field, find experts in that field on Twitter, follow the experts' tweets, record useful tweets and organize them for study.</li>
      </ol>
      <li>Scenarios:</li>
      <ol>
        <li>First visit to MyTwotepad:</li>
        <ol>
          <li></li>
        </ol>
        <li>Create account:</li>
        <ol>
          <li></li>
        </ol>
        <li>Setup user twotepad:</li>
        <ol>
          <li></li>
        </ol>
        <li>Identify Field 1:</li>
        <ol>
          <li></li>
        </ol>
        <li>Identify Field 1 experts on Twitter:</li>
        <ol>
          <li></li>
        </ol>
        <li>Create following list for Field 1:</li>
        <ol>
          <li></li>
        </ol>
        <li>Create organizational rules for Field 1:</li>
        <ol>
          <li></li>
        </ol>
        <li>View results for Field 1:</li>
        <ol>
          <li></li>
        </ol>
        <li>Update organizational rules for Field 1:</li>
        <ol>
          <li></li>
        </ol>
        <li>Update following list for Field 1:</li>
        <ol>
          <li></li>
        </ol>
        <li>Print results for Field 1:</li>
        <ol>
          <li></li>
        </ol>
        <li>Export results for Field 1:</li>
        <ol>
          <li></li>
        </ol>
        <li>Identify Field 2:</li>
        <ol>
          <li></li>
        </ol>
        
      </ol>
    </ol>
  </ol>
</ol>

