<title>Time</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />

<!-- <script type="text/javascript" src="/js/time.js"></script> -->

</head>
<!-- <body onload="init()"> -->
<body>
  <h1> Time </h1>
  <!-- <div id="content"> -->
  <% if thetime %>
    <em><%= thetime %></em>
  <% end %>
  <!-- </div> -->
