<h3>Weekend wrap-up:</h3><br />
<p>
Purposefully doing this slowly for better absorption, but working by way through the 
tutorial is taking about 4-7 hours each chapter. As before, click on the chapter links of the 
<a href="practices/ruby">ruby page</a> documentation for the tutorial to see the step-by-step documentation if you 
want see my process for some strange reason. 
</p>
<br />
<h3>Digression:</h3><br />
<p>
<ol>
  <li>Still reading Isaac Asimov's Galactic Empire series.</li>
</ol>
</p>
