<h3>Weekend wrap-up:</h3><br />
<p>
Moving!  Although I'm extremely happy with the opportunity I have, moving 
is always disruptive.  To figure out what week it is I had to google a site 
(<a href="http://www.epochconverter.com/date-and-time/weeknumbers-by-year.php">http://www.epochconverter.com/date-and-time/weeknumbers-by-year.php</a>)
<br /><br />
Slacking on my studies and blogging has had one benefit - more time to reflect.  
After writing down some thoughts about my current state of mind, I also came across a
great presentation video from <a href="http://www.youtube.com/watch?v=kH8uYDJlwog">John Cleese on creativity</a></p>
<br />
<h3>Digression:</h3><br />
<p>
<ol>
  <li></li>
</ol>
</p>
