<h3>Weekend wrap-up:</h3><br />
<p>
Twitter app still on hold.  I could make an attempt at the app but there are just too many areas
that I need improvement on.  I don't want to take too long however so I'm going to try
reading the following books and applying the knowledge to the app as soon as I feel ready:
<a href="http://pragprog.com/book/achbd/the-rspec-book">The RSpec Book</a>, 
<a href="http://designpatternsinruby.com/">Design Patterns in Ruby</a>, 
<a href="http://www.amazon.com/Clean-Coder-Conduct-Professional-Programmers/dp/0137081073/ref=sr_1_1?s=books&ie=UTF8&qid=1326135682&sr=1-1">Clean Code - A Handbook of Agile Software Craftsmanship</a> and 
<a href="http://pragprog.com/book/ppmetr/metaprogramming-ruby">Metaprogramming Ruby</a>.
</p>
<br />
<h3>Progression:</h3><br />
<p>
<ol>
  <li>Design Patterns: see <a href="/practices/design_patterns_in_ruby_notes">notes</a>.</li>
</ol>
</p>
<br />
<h3>Digression:</h3><br />
<p>
<ol>
  <li>My wife finished the over-hyped <i>Fifty Shades of Grey</i> series so I got my e-reader back.  Started reading Second Foundation by Isaac Asimov again.  Only 2 books after this to finish the series.</li>
  <li>Also, I was missing video games a bit so I spent a couple hours on Sim City - the only video game I never seem to "outgrow".</li>
</ol>
</p>
