<h3>Weekend wrap-up:</h3><br />
<p>
In an effort to find a book that would help me interact with people that don't put such a high value on life-long learning, I stumbled across another book, which was pretty much the opposite of what I was looking for but now, it seems, I don't care about my first hunt any longer.<br />
Started and finished reading <a href="http://www.geoffcolvin.com/books/talent-is-overrated-by-geoff-colvin/"><i>"Talent is Overrated" by Geoff Colvin</i></a>.  It's so funny that <i>"The Secret"</i> should be so popular when the book by Colvin has, without exageration, the <b>REAL</b> "secret" to success.  But, unlike "magic", there is work involved and that scares away the majority of people.  Colvin's book is still a best seller so there's hope for humanity yet!  I was excstatic to find such a thorough book on the subject.  I will be employing these techniques of deliberate practice from now on.  So I decided to come up with a multi-pronged attack plan for increasing my skills.
</p>
<br />
<h3>Deliberate Practice Plan</h3><br />
<ol>
  <li>Feedback loop</li>
    <ol style="list-style-type:lower-alpha">
      <li>Each subject area has it's own feedback loop (including feedback loops in general)</li>
      <li>Like the unit test, each loop will have expectations for quantifiable results within scope of the domain of study</li>
      <li>Feedback loops will favour "learning zone" area of difficulty</li>
      <li>Feedback loops will also favour quick results on repeatable functions with documentable modifications to process</li>
    </ol>
  <li>Algorithms and Data Structures</li>
    <ol style="list-style-type:lower-alpha">
      <li>Study <a href="http://en.wikipedia.org/wiki/The_Art_of_Computer_Programming"><i>"The Art of Computer Programming"</i> by Donald Knuth</a>.  Never read it, always wanted to.  OR...</li>
      <li><a href="http://www.youtube.com/playlist?list=PLE621E25B3BF8B9D1&feature=plcp">Youtube lectures</a> by <a href="https://wiki.cse.unsw.edu.au/gandt/RichardBuckland/CV">Richard Buckland</a></li>
    </ol>
  <li>Mathematics</li>
    <ol style="list-style-type:lower-alpha">
      <li>Identify biggest needs</li>
      <li>Identify biggest weaknesses</li>
    </ol>
  <li>Writing Skills</li>
    <ol style="list-style-type:lower-alpha">
      <li>Ben Franklin approach using other's blogs, or</li>
      <li>Pick-up the quintessential writing books</li>
    </ol>
  <li>Ruby Dev</li>
    <ol style="list-style-type:lower-alpha">
      <li>Web Framework: Sinatra or</li>
      <li>Ben Franklin approach using other's code or </li>
      <li>Setup new virtual appliance</li>
    </ol>
  <li>Libertarian Politics</li>
    <ol style="list-style-type:lower-alpha">
      <li>Mourn the Ron Paul campaign</li>
      <li>See what I can do</li>
    </ol>
</ol>
<br />
<h3>Progression:</h3><br />
<p>
Starting with Buckland lectures #6 of COMP1927 (a little tired, so listening to a basic cs lecture seemed a little easier than my other tasks).<br />
<br />
Mid-week and I think I need some site clean-up.  My "blog" is really a diary/personal log at the moment but I will keep it that way for now since I have no real reason to post for others yet.  However, the multi-subject practice plan is just too much to stick on the main blog page so I've split that off and put the menu item on the right.  So for individual work related to each plan item, you will need to visit that plan item.  Header "Deliberately Practicing" should do as a title for now.<br />
<br />
Got a little work done on my digression - tweeked my feedback loop and came up with a "Book" analogy for it, see the <a href="/practices/feedbackloop">feedback loop</a> page for more.<br />
<br />
End of week:  Feeling brave so I started the bible: <a href="http://en.wikipedia.org/wiki/The_Art_of_Computer_Programming"><i>"The Art of Computer Programming"</i> by Donald Knuth</a>.  See notes under <a href="/practices/dsa">Deliberate Practices: Data Structures and Algorithms</a>
<p>
<br />

</p>
<br />
<h3>Digression:</h3><br />
<p>
As a break after the COMP1927 Lecture 6, I thought I'd pursue another path for a bit. Hmmm...
One thing I noticed, as I work, I think of tweeks to my process and I learn new things when solving problems.  I need a very easy way to record this information that doesn't slow down my work progress but that I can review at some point and collect into a good knowledge base or action item.  This would be working on my Feedback loop.  I will do that and post the results, as well, I think I'll work on a less exhaustive practice plan item (less exhaustive because there's no timeline to finish...yet).  
</p>
