<h3>Weekend wrap-up:</h3><br />
<p>
Settled in...for now.  Already met someone who may be interested in working with 
me on a contract basis - good to be back in a city!  Since Facebook integration 
is a big interest, I decided that creating a new, more public-friendly blog would be 
a great way to test this since I had the intention of creating a more appealing blog in 
the first place.  <br /><br />
<h3>Digression:</h3><br />
<p>
<ol>
  <li>Still reading <i>The Second Foundation</i> by Isaac Asimov.</li>
  <li>Watching documentaries at night:</li>
  <ol>
    <li>Series:  Brave New World with Stephen Hawking</li>
    <li>Here Be Dragons</li>
    <li>Series:  The Inexplicable Universe — Unsolved Mysteries (Dr. Neil DeGrasse Tyson)</li>
    <li>Rebuilding Ground Zero</li>
    <li>All documentaries by Richard Dawkins (a hero of mine)</li>
  </ol>
</ol>
</p>
