<h3>Weekend wrap-up:</h3><br />
<p>
Spring doldrums in effect!  The revitalizing feeling from seeing the end of winter has worn off and the 3 days of rain was bummin' me out.<br />
<br/>
Rather than fight it, I gave in and just read a book.  My wife was on the same page so we both either read or sat in front of t.v. like post-lobotomy out-patients.<br />
<br />
I managed to finish a novella series called <a href="http://en.wikipedia.org/wiki/Wool_%28series%29"><b><i>Wool</i></b></a> by Hugh Howey.  Very good, engaging story that is suprisingly less pessimistic than one would assume for the dystopian setting in which it takes place.  A recommended read for sure.<b><br />
<br />
I'm getting a bit itchy about my programming process so I'm going to put streamline my short-term goals.  I will drop <b><i>The Art of Computer Programming</i></b> by Donald Knuth for now (insert sad face) to focus on finishing the Comp 1927 lectures.  I finally found the logarithmic lessons under the umbrella of algebra.  It didn't take long to see that logarithmic math was just another way of representing exponential math - duh!  lol<br />
<br />
I will continue with math review but the primary focus will be to back up math used in the lectures (priority will be algebra > logic > proofs).<br />
<br />
</p>
<br />
<h3>Deliberate Practice Plan</h3><br />
<ol>
  <li>Plan for the days ahead</li>
    <ol style="list-style-type:lower-alpha">
      <li>Data Structures and Algorithms: <a href="http://www.youtube.com/playlist?list=PLE621E25B3BF8B9D1&feature=plcp">Comp 1927 youtube lectures</a> by Richard Boreland</li>
      <li>Math review</li>
      <li>That's it!!  - lol, diversions upcoming I'm sure</li>
    </ol>
</ol>
<br />
<h3>Progression:</h3><br />
<p>
<ol>
  <li></li>
  <li></li>
</ol>
<p>
<br />

</p>
<br />
<h3>Digression:</h3><br />
<p>
  
</p>
