<h3>Weekend wrap-up:</h3><br />
<p>
Going to finish the tutorial this week!! I streamlined a little by skipping most of the chapter-end excercises after chapter 5 and I stopped taking normal notes and just took the step-by-step notes.  As before, click on the chapter links of the 
<a href="practices/ruby">ruby page</a> documentation for the tutorial to see the step-by-step notes.
</p>
<br />
<h3>Digression:</h3><br />
<p>
<ol>
  <li>Finishing Isaac Asimov's Galactic Empire series.  Starting <i>Prelude to Foundation</i></li>
</ol>
</p>
