<h3>Weekend wrap-up:</h3><br />
<p>
Well, week 20 was unproductive.  In addition, week 21 dissappeared because my weekends don't always line up with calendar weekends.  So it seems like I've done nothing for almost 2 weeks!<br />
<br />
The truth is, I have been productive.  At least, I was productive after my 3 days of Diablo III.<br />
<br />
The weekend (my "weekend") was a working weekend, thanks to my very understanding and very appreciated wife.  This weekend I tackled a new virtual machine for development:  <a href="/environment/crunchbang">crunchbang</a>.
</p>
<br />
<h3>Deliberate Practice Plan</h3><br />
<ol>
  <li>Plan for the days ahead</li>
    <ol style="list-style-type:lower-alpha">
      <li>Finish blogging weekend build notes</li>
      <li>Compile a build summary to put at the top of build notes</li>
      <li>Plan next steps</li>
    </ol>
</ol>
<br />
<h3>Progression:</h3><br />
<p>
<ol>
  <li>Created environment section to contain setup notes and install plan</li>
  <li>Created crunchbang.erb and started formatting for web.</li>
  <li>Finished formatting crunchbang.erb</li>
  <li>Removed vim-tiny and installed vim (followed instructions <a href="http://www.astarix.co.uk/2011/05/using-crunchbang-linux/">here</a>)</li>
  <li>Added VM installation notes to crunchbang.erb - just missing top level summary now</li>
</ol>
<p>
<br />

</p>
<br />
<h3>Digression:</h3><br />
<p>
<ol>
  <li>On book 3 of Isaac Asimov's Robot Series: <i>Robots and Empire</i>.</li>
</ol>
</p>
