<h3>Weekend wrap-up:</h3><br />
<p>
  Went back to the Buckland lectures (#8 for comp 1927) and realized that my logarithmic/exponential math is a bit dusty.  So I went looking for free math material on the web and found a book on Mathematical Philosophy.  Started reading that and I think I might continue that for a bit - currently digesting Peano's 3 principle ideas and 5 propositions as the base of traditional pure mathematics, fascinating stuff!<br />
<br />
  Attempted to play World of Warcraft as a familiar diversion that I haven't really played in the last month and found I could no longer bare it...just the thought of doing it made me restless.  All this mental stimulation seems to be having an effect on my leisure!<br />
<br />
  Started taking notes on "The Writer", got about 20% done I think, still on paper.<br />
<br />
  That's about it, slept more, but still felt a fair amount of tiredness.  Caffeine is definitely required to keep my productivity up.  I find that just a mild feeling of tiredness will kill any ambition to pursue challenging intellectual material.  Obviously not a new insight in our coffee-addicted world but I'd never realized exactly just how much it can make a difference, it's astonishing.
</p>
<br />
<h3>Deliberate Practice Plan</h3><br />
<ol>
  <li>Plan for the days ahead</li>
    <ol style="list-style-type:lower-alpha">
      <li>Analysis of Ayn Rand's Atlas Shrugged</li>
      <li>Finish notes on The Writer issue</li>
      <li>Continue the Mathematical Philosophy book</li>
      <li>Keep searching for logarithmic math review/excercises</li>
    </ol>
  <li>Get diet back on track and return to post-meal burst excercises</li>
</ol>
<br />
<h3>Progression:</h3><br />
<p>
<ol>
  <li></li>
</ol>
<p>
<br />

</p>
<br />
<h3>Digression:</h3><br />
<p>

</p>
