<h3>Weekend wrap-up:</h3><br />
<p>
The weekend was a bit chaotic.  Too tired most of it for any challenging work so I thought I'd try my hand at another blog page for my wife.  Got a nice one up, put up a webform to allow her to edit her posts.  Works great on my computer, not so great on Heroku.  It was in the back of my mind: "Will Heroku let my web user edit a file?  I hope so..."  Of course Heroku will not.  Damn.  Now I need a database for the blog, but that's cool, was gonna have to do this at some point.  Started looking into this, then it occured to me, it's time to implement dev and prod environments (could do test as well but it seems like overkill for a blog that only I can see at the moment.)  That's where I left off.  I did try a TAOCP at one point but I only managed one page with paper notes that I misplaced.  I'm starting to feel a lack of direction at this point so I'm going to re-visit my planning.
</p>
<br />
<h3>Deliberate Practice Plan</h3><br />
<ol>
  <li>Plan for the days ahead</li>
    <ol style="list-style-type:lower-alpha">
      <li>Write down any new thoughts on each of my Deliberate Practice paths</li>
      <li>Re-visit each item and put in a "what's next" and assess the effort needed</li>
      <li>Prioritize</li>
    </ol>
  <li>For a change of pace, put some emphasis on the libertarian front -> read <a href="http://en.wikipedia.org/wiki/Atlas_shrugged">Atlas Shrugged</a> by Any Rand</li>
</ol>
<br />
<h3>Progression:</h3><br />
<p>
<ol>
  <li>Started reading <a href="http://en.wikipedia.org/wiki/Atlas_shrugged">Atlas Shrugged</a> by Any Rand.  Got to page 50, just under 1000 pages to go...</li>
</ol>
<p>
<br />

</p>
<br />
<h3>Digression:</h3><br />
<p>
...
</p>
