<h3>Weekend wrap-up:</h3><br />
<p>
Following along the RSpec book to create design for my Twitter app.  Starting with Chapter 10, then bouncing around until I took a side-trip with the book "Clean Code".
</p>
<br />
<h3>Digression:</h3><br />
<p>
<ol>
  <li>Reading Clean Code.  The page entitled "There will be code" has some great quotes (p33).</li>
  <li>Would be reading the final Asimov books but I leant my e-reader to my wife so she could read her "Fifty shades of grey"</li>
</ol>
</p>
