<b>Side-tracking with a purpose!</b><br />
<br />
<p>
I started the week enthusiastically delving into chapter 3 of <a href="http://shop.oreilly.com/product/0636920019664.do">Sinatra: up and running</a><br /> (Awesome book btw).  Somehow, I got to thinking, the projects are getting bigger but I'm not unit-testing - oh no!  => Google, Google, Google => <a href="http://www.youtube.com/watch?v=XP4o0ArkP4s">eXtreme programming lecture on youtube by Richard Buckland</a><br />
</p>
<p><b>Holy $%@$ - this guy is fantastic!</b> ... so of course, since he has an entire course online ...=> Comp 1927: Data Structures and Algorithms from the <a href="http://www.youtube.com/user/UNSWelearning?feature=playlist-comment">University of New South Wales</a> lol.  By lecture 3, he says, go write sorts at home...so I write some sorts.  <br />
</p>
<p>
Bubble Sort?  check <br />
My own sort?  -- hmm, wasn't I going to write unit tests?<br />
<br />
test_sort.rb complete!  --hmm, wouldn't it be nice to see this online?  how about in that progress blog I was thinking of earlier?<br />
<br />
How do I do this again?<br />
=> new project -> blog  <br />
=> copy skeleton<br />
=> blog.rb -> requires 'sinatra'<br />
=> then erb an index, git init/add/commit, push heroku, get nice css template, figure out how to include erb into index
</p>


		  

