<h3>Weekend wrap-up:</h3><br />
<p>
Well, have several loose ends at the moment:
</p>
<ol>
  <li>Blog: Implementing a database.  A bit of a learning curve to tackle how it works with Heroku.  Seems like they use Postgre, but I haven't installed that yet.</li>
  <li>TAOCP: Only made it to Vol I, page 5 of Knuth's epic work but there's no reason to rush it.  Still...only page 5 ?!?</li>
  <li>Buckland's lecture 7:  I don't think I'll be able to do this at the same time as it's covered in TOACP, so I'll pick this back up again.</li>
  <li>Writing skills:  Read a great writing magazine cover-to-cover and I need to make some notes</li>
  <li>Disseminate what I learned from the "Atlas".  This is where I spent last week and the weekend.  Wow!  What an amazing book, can't wait to review!</li>
</ol><br />
<p>
Ayn Rand's 1000+ page amazing philisophical work, <a href="http://en.wikipedia.org/wiki/Atlas_shrugged">Atlas Shrugged</a>, set in an engaging fictional story was long but I just couldn't put it down.  She nailed it!  As close to the meaning of life as I have ever seen.  If a happy, successful life could be compared to a newly built skyscraper then I could say, without reservation, that this would make an excellent blueprint to the foundation.  This should be required reading for anyone proclaiming free-thought.  I have been very lucky to have hit on 3 excellent works lately to provide me with drive and direction to aid in my personal advancement.  Now, to the application of this new material...
</p>
<br />
<h3>Deliberate Practice Plan</h3><br />
<ol>
  <li>Plan for the days ahead</li>
    <ol style="list-style-type:lower-alpha">
      <li>Paraphase some of the quotes from <a href="http://en.wikipedia.org/wiki/Atlas_shrugged">Atlas Shrugged</a> and organize with other thoughts to put on the blog.</li>
      <li>Write out some of what was learned from the writing magazine</li>
      <li>Pickup the Buckland Lectures again</li>
      <li>Try another page of TAOCP</li>
    </ol>
  <li>During mental breaks, catch up on the world via real media sites</li>
</ol>
<br />
<h3>Progression:</h3><br />
<p>
<ol>
  <li>Hit TAOCP and read to the end of Chapter 1.  Ouch!  I couldn't make it through the formal algorithm definition, I could read it but I just could understand the omega set / function relation as any kind of axiom for algorithm definition.  I might need a to re-visit some set theory and basic theoretical analysis.  If it was only the more rigorous work that I didn't get I would move on but this seemed like a pretty foundational knowledge for understanding this book so I will hit the math next.</li>
  <li>I've taken too long of a break from programming so, I'm going to go back to the buckland lectures now</li>
</ol>
<p>
<br />

</p>
<br />
<h3>Digression:</h3><br />
<p>
Couldn't help it, after reading Ayn Rand's book where the main character is devoted to running a transcontinental railroad, I got the itch to play Railroad Tycoon 3.  So I played that and did nothing else for the first day after finishing her book.  Who doesn't like trains?  ;)
</p>
