<h3>Weekend wrap-up:</h3><br />
<p>
Well, after completing all my goals last week, I took it easy for the weekend.<br />
<br/>
Played Diablo 3.  Solo play up until the boss Belal.  A fun diversion.<br />
<br/>
I got the urge to read an adventure story I hadn't previously read.  I'm a little tired of the formulaic fantasy novels at the moment and pure adventure novels seem to have gone out of style about 100 years ago.  I'm sure there are modern equivalents but maybe they aren't classified as adventure anymore.  So I ended up by re-reading Caves of Steel by Isaac Asimov.<br />
<br />
Since things are getting busier for me, summer holidays coming up and more, I thought I'd better streamline even more.  I will put the math on hold until I stumble across a specific need and focus on the Data Structures and Algorithms course.  My wife's weekend doodles gave me some programming ideas as well that I will keep in the back of my mind for now.  And that's it (except for diversions, of course).<br />
<br />
</p>
<br />
<h3>Deliberate Practice Plan</h3><br />
<ol>
  <li>Plan for the days ahead</li>
    <ol style="list-style-type:lower-alpha">
      <li>Data Structures and Algorithms: <a href="http://www.youtube.com/playlist?list=PLE621E25B3BF8B9D1&feature=plcp">Comp 1927 youtube lectures</a> by Richard Boreland</li>
      <li>Take notes on ideas I started think about as they pop into my head</li>
    </ol>
</ol>
<br />
<h3>Progression:</h3><br />
<p>
<ol>
  <li>Week progression non existent, no time.  Planning a new linux install on the weekend for some serious code-writing to begin.</li>
</ol>
<p>
<br />

</p>
<br />
<h3>Digression:</h3><br />
<p>
  
</p>
