<h3>Weekend wrap-up:</h3><br />
<p>
Moved.  Back in Montreal, at least for now.  It's hectic and I've had no time 
for Ruby or the books.<br /><br />
<h3>Digression:</h3><br />
<p>
<ol>
  <li>Reading <i>The Second Foundation</i> by Isaac Asimov still.  Good book but
      I only have time to read a few pages at a time.</li>
  <li>Spending time with my daughter whenever she has time in her busy teenage life.</li>
</ol>
</p>
