<h3>Weekend wrap-up:</h3><br />
<p>
Spent a long time on my average-sort method.  Resolved my issues through brute force, and as usual, I was off only by a special case I’d overlooked but had a feeling was there, and an end case error.  I successfully ported the sort.rb and test_sort.rb to my web directories.  Testing was a semi-success.  I can’t run rack::test on my 1.9.3 so I used 1.9.2.  Down side here is that I only went to 1.9.3 because 1.9.2 I couldn’t get running with Heroku.  So I haven’t been using my http tests.
</p>
<br />
<h3>Plan for the week:</h3><br />
<ol>
  <li>Clean up my web posts to be more legible</li>
  <li>Add my sort method code to view</li>
  <li>Plan a new ruby version and gem package so that testing and uploading is fully functional</li>
  <li>Add the plan to the blog</li>
  <li>Implement my planned upgrade</li>
  <li>Blog the results</li>
  <li>If successful, implement upgrade</li>
  <li>If not successful, say @#$% it for now and plan my other activities</li>
  <li>Other activity 1: Data Structures and Algorithms revisited – Buckland lectures</li>
  <li>Other activity 2: Sinatra: Up and Running book – remainder of chapter 3</li>
</ol>
<br />
<h3>Progression:</h3><br />
<ol>
  <li>Completed: Clean up my web posts to be more legible</li>
  <li>Completed: Add my sort method code to view</li>
  <li>Completed: <br /><b>New setup Plan - going for full VMWare install</b>
    <ol>
      <li><a href="http://www.turnkeylinux.org/download?file=turnkey-rails-11.3-lucid-x86-vmdk.zip">Download Virtual Appliance for VMWare</a> - Should blog be Ruby/Linux Newbie?</li>
      <li>Load Virtual Appliance (VA)</li>
      <li>Itemize versions included in VA</li>
      <li>Find out what's left to install</li>
      <li>Install remaining software/gems</li>
    </ol>
  </li>  
  <li>Complete: Add the plan to the blog</li>
  <li>Incomplete: Implement my planned upgrade</li>
  <li>Incomplete: Blog the results</li>
</ol>
<br />
<h3>Digression:</h3><br />
<p>
With the idea of slowing things down and pondering my approach to a new ruby version and what my goals were, how much effort I should invest in the Virtual Appliance arena and new Linux distros, I <b>purposely</b> got side-tracked...<br />
<br />
This lead to thinking about my interaction with people.  I need people, I worry about the economy and the direction of things for my family and I like most people I meet, but I don't make a lot of friends, why? <br />
<br />
After a little hunting I found a book that explains a lot of what I'm subconciously doing (slow thinking, disruptive behaviour) and what the general population is doing ("screenagers", linear thinking corporations, etc) and why they conflict - and basically says, stick with it, you're doing it right - this wasn't just self-affirming but presented me with a few new ideas and ways to see related things more positively.<br />
<br />  The book is <a href="http://www.futuretrendsbook.com/future-minds/"><i>"FUTURE MINDS How the digital age is changing our minds, why this matters, and what we can do about it"</a> by Richard Watson</i> and it was sure a "feel better" read for me.  I want to be a deep thinker, I've been doing it all my life. Based on reactions though, I often second guess this strategy and shortcut things I shouldn't be shortcutting (problem definition, patience is definitely a virtue here.)<br />
<br />
From the book: <br />
<blockquote style="padding-left:20px">Are we on the cusp of a second renaissance where new ideas
are widely created, discussed, and disseminated, as writers such
as Clay Shirky and Nick Bilton suggest; or are we at the beginning
of a new digital dark age where constant connectivity facilitates
cultural conformity and leads to electronic enslavement
and the death of original thought? Are we creating a world in
which people find it increasingly difficult to deal with ambiguity
and one where problem-solving abilities decline? I don’t know
the answer to such questions, but we should spend sufficient
time looking for precisely the right question rather than trying
to find easy answers.</blockquote>
<br />
<h3>More Digression or back to Progression?</h3><br />
<p>
More digression of course!  Haha, it's fun being your own boss!<br />
<br />
Although, I have realized that my idea starved moments have probably come from:
</p>
<ol>
  <li>Negative feelings</li>
  <li>Impatience</li>
  <li>Rushing the problem definition stage</li>
</ol>
<p>
I still haven't found help for the main issue - how to interact better with those that are not like-minded.<br />
<br />
Back to the search for more helpful books...<br />
<br />
</p>
