<h3>Weekend wrap-up:</h3><br />
<p>
Not much to report here, filling my free time with the Ruby on Rails tutorial.  I 
am documenting each step as I go, mostly as a memory aid.  Click the chapter links of the 
<a href="practices/ruby">ruby page</a> documentation for the tutorial to see the step-by-step documentation if you 
want share in my masochism. 

</p>
<br />
<h3>Digression:</h3><br />
<p>
<ol>
  <li>Finished Isaac Asimov's Robot series, onto the Galactic Empire series.</li>
</ol>
</p>
