<h3>Weekend wrap-up:</h3><br />
<p>
  Went back to the Buckland lectures (#8 for comp 1927) and realized that my logarithmic/exponential math is a bit dusty.  So I went looking for free math material on the web and found a book on Mathematical Philosophy.  Started reading that and I think I might continue that for a bit - currently digesting Peano's 3 principle ideas and 5 propositions as the base of traditional pure mathematics, fascinating stuff!<br />
<br />
  Attempted to play World of Warcraft as a familiar diversion that I haven't really played in the last month and found I could no longer bare it...just the thought of doing it made me restless.  All this mental stimulation seems to be having an effect on my leisure!<br />
<br />
  Started taking notes on "The Writer", got about 20% done I think, still on paper.<br />
<br />
  That's about it, slept more, but still felt a fair amount of tiredness.  Caffeine is definitely required to keep my productivity up.  I find that just a mild feeling of tiredness will kill any ambition to pursue challenging intellectual material.  Obviously not a new insight in our coffee-addicted world but I'd never realized exactly just how much it can make a difference, it's astonishing.
</p>
<br />
<h3>Deliberate Practice Plan</h3><br />
<ol>
  <li>Plan for the days ahead</li>
    <ol style="list-style-type:lower-alpha">
      <li>Analysis of Ayn Rand's Atlas Shrugged</li>
      <li>Finish notes on The Writer issue</li>
      <li>Continue the Mathematical Philosophy book</li>
      <li>Keep searching for logarithmic math review/excercises</li>
    </ol>
  <li>Get diet back on track and return to post-meal burst excercises</li>
</ol>
<br />
<h3>Progression:</h3><br />
<p>
<ol>
  <li>Finished first draft of <a href="/practices/atlasanalysis">my analysis</a> on <b><i><a href="http://en.wikipedia.org/wiki/Atlas_shrugged">Atlas Shrugged</a></i></b> by Ayn Rand.</li>
  <li>Found another math book called Math Proofs Demystified.  Thought I'd try that first since it seems to start easier.  Still haven't found a logarithms math book.</li>
  <li>Finished first chapter of Math Proofs Demystified, wrote out everything on paper (17 pages) and finished the chapter by correctly answering all questions in the quiz - it was pretty damn easy.  Still, I think it was good to do because, even though these laws of propositional logic were mostly known to me, the terminology and the different symbols used had been forgotten.  Most names were forgotten too.  See <a href="/practices/math">math</a> page for more.</li>
  <li>Diet is a bit better,less sugared pop, less sweets.  Consumption is still high and I'm not trying too hard to balance veggies/carbs/fats at the moment.</li>
  <li>Started the post-meal excercises again after my supper.  Noticed my shin-splints were acting up a bit.  I need to lose 10 pounds at keep up this minimal excercise and stable diet because I'm having to take too much caffeine to keep productivity up.</li>
</ol>
<p>
<br />

</p>
<br />
<h3>Digression:</h3><br />
<p>
  Watched documentaries on excercise, chemical elements and the British Empire.  All interesting but not spectacular.  BBC's "Everything and Nothing" is still one of my favorites.  I would love to see a highschool/college level documentary on what's come out of CERN and LHC experiments but I haven't found one yet.  They are currently getting ready for 8TeV beam expirements at the moment.  They still haven't found Higgs Boson but, for whatever reason, seem much more confident about finding it now...aparently there has been 'hints'...whatever that means.
</p>
