<h3>Weekend wrap-up:<h3><br />
<br />
Spent a long time on my average-sort method.  Resolved my issues through brute force, and as usual, I was off only by a special case I’d overlooked but had a feeling was there, and an end case error.  I successfully ported the sort.rb and test_sort.rb to my web directories.  Testing was a semi-success.  I can’t run rack::test on my 1.9.3 so I used 1.9.2.  Down side here is that I only went to 1.9.3 because 1.9.2 I couldn’t get running with Heroku.  So I haven’t been using my http tests.<br />
<br />
Plan for the week:<br />
<br />
<ol>
  <li>Clean up my web posts to be more legible</li>
  <li>Add my sort method code to view</li>
  <li>Plan a new ruby version and gem package so that testing and uploading is fully functional</li>
  <li>Add the plan to the blog</li>
  <li>Test my planned upgrade</li>
  <li>Blog the results</li>
  <li>If successful, implement upgrade</li>
  <li>If not successful, say @#$% it for now and plan my other activities</li>
  <li>Other activity 1: Data Structures and Algorithms revisited – Buckland lectures</li>
  <li>Other activity 2: Sinatra: Up and Running book – remainder of chapter 3</li>
<ol>
