<p>
<b>Process of analysis:</b>
<ol>
  <li>Direct quotes copied from the book as I went through it</li>
  <li>Re-organize and reduce quoted material into my own sections.  Re-organizing helps me digest the information better by making me classify information.</li>
  <li>Write headers to quoted sections in my own words (beginnings of paraphrasing)</li>
  <li>Keep scratchpad of thoughts that come up while digesting the information</li>
  <li>Point out oversights and contradictions</li>
  <li>Isolate portions that would be considered "outdated" and discuss</li>
  <li>Write personal summaries (without looking at quotes) based on section title alone</li>
  <li>Extract the briefest quoted material that matches personal summaries</li>
  <li>Write an overall summary</li>
  <li>Review and make notes for next distillation</li>
  <li>Repeat process until satisfied and note at what quality I view my own analysis</li>
</ol><br />
<br />
<b>First Distillation Sections:</b>
<ol>
  <li>Scratchpad:</li>
    <ol style="list-style-type:lower-alpha">
      <li><b>What is selfish?</b></li> 
        <ol style="list-style-type:lower-roman">   
          <li>Actions taken for personal benefit where the negative impact on others has either not been duly considered or is ignored</li>
          <li>Actions that consider personal happiness and the betterment of one's self - selfishness for the long goal</li>    
          <li>Actions that are made to fulfill only an immediate desire regardless of the impact to others or oneself</li> 
        </ol>
      <li><b>Other misinterpretation references:</b></li> 
        <ol style="list-style-type:lower-roman">  
          <li>Dawkins expressed regret over using the title "The Selfish Gene" because it was mistakenly used by many or assumed to be used by many to justify whatever the misinterpreter considered to be selfish behaviour - without even reading the book.</li>
          <li>US congressman(? - verify) was forced to resign after using the term "niggardly" which was misinterpreted as a racial slur.</li>
          <li>Ayn Rand Institute aligns itself with the Tea Party when, in fact, 44% (*-verify) of it's members are born again Christians which can't possibly consider themselves to be of like-mind with Ayn Rand - is objectivism being corrupted into a justification for any kind of selfish behaviour?</li>
        </ol>  
    </ol>
  <li>Rand's self-proclaimed philosophy in a single sentence: <br />
      - "My philosophy, in essence, is the concept of man as a heroic being, with his own
happiness as the moral purpose of his life, with productive achievement as his noblest activity, and reason
as his only absolute."</li>
  <li>Big Governement:</li>
    <ol style="list-style-type:lower-alpha">
      <li>The only power any government has is the power to crack down on criminals... just pass the kind of laws that can neither be observed nor enforced
nor objectively interpreted—and you create a nation of law-breakers—and then you cash in on guilt.</li>  
      <li>Moral law:  "...we'd been given a law to live by, a moral law, they called it, which punished those who observed it—for observing it. The more you tried to live up to it, the more you suffered; the more you cheated it, the bigger reward you got. Your honesty was like a tool left at the mercy of the next man's dishonesty. The honest ones paid, the dishonest collected.  The honest lost, the dishonest won. How long could men stay good under this sort of a law of goodness?</li>    
      <li>Big evil belittles big decisions:  "behind the clattering, lumbering pretense of their council sessions, committee
meetings and mass debates, the decisions were made in advance, in furtive informality, at luncheons,
dinners and bars, the graver the issue, the more casual the method of settling it."</li>    
      <li>Consumerism and FIAT money:  "The man who tells you that it is possible to value without values, to love those whom you appraise as
worthless, is the man who tells you that it is possible to grow rich by consuming without producing and
that paper money is as valuable as gold."</li>    
      <li>"The only proper purpose of a government is to protect man's rights, which means: to protect him from
physical violence. A proper government is only a policeman, acting as an agent of man's self-defense,
and, as such, may resort to force only against those who start the use of force. The only proper functions
of a government are: the police, to protect you from criminals; the army, to protect you from foreign
invaders; and the courts, to protect your property and contracts from breach or fraud by others, to settle
disputes by rational rules, according to objective law."</li>    
      <li>Big military:  "...a government that initiates the employment of
force against men who had forced no one, the employment of armed compulsion against disarmed
victims, is a nightmare infernal machine designed to annihilate morality: such a government reverses its
only moral purpose and switches from the role of protector to the role of man's deadliest enemy, from the
role of policeman to the role of a criminal vested with the right to the wielding of violence against victims
deprived of the right of self-defense. Such a government substitutes for morality the following rule of
social conduct: you may do whatever you please to your neighbor, provided your gang is bigger than his."</li>      
    </ol>
  <li>Selfishness</li>
    <ol style="list-style-type:lower-alpha">
      <li>"If I were asked to serve the interests of society apart from, above and against my own—I would
refuse, I would reject it as the most contemptible evil, I would fight it with every, power I possess, I
would fight the whole of mankind, if one minute were all I could last before I were murdered, I would
fight in the full confidence of the justice of my battle and of a living being's right to exist."</li>    
      <li>Against the purely altruistic: "If it is now the belief of my fellow men, who call themselves the public, that
their good requires victims, then I say: The public good be damned, I will have no part of it!"</li>    
      <li>"A doctrine that gives you, as an ideal, the role of a
sacrificial animal seeking slaughter on the altars of others, is giving you death as your standard. By the
grace of reality and the nature of life, man—every man—is an end in himself, he exists for his own sake,
and the achievement of his own happiness is his highest moral purpose."</li>    
      <li>Morality of selfishness: "The purpose of morality is to teach you, not to suffer and die, but to
enjoy yourself and live"</li>    
      <li>Selfish reasoning: "The most depraved sentence you can now utter is to ask: Whose reason? The answer is: Yours. No
matter how vast your knowledge or how modest, it is your own mind that has to acquire it. It is only with
your own knowledge that you can deal."</li>    
      <li>"Pride is the recognition of the fact that you are your own highest value and, like all of man's values, it
has to be earned—that of any achievements open to you, the one that makes all others possible is the
creation of your own character—that your character, your actions, your desires, your emotions are the
products of the premises held by your mind—that as man must produce the physical values he needs to
sustain his life, so he must acquire the values of character that make his life worth sustaining..."</li>    
    </ol>
  <li>Accountablilty</li>
    <ol style="list-style-type:lower-alpha">
      <li>A conservation law for human activity:  "When one acts on pity against justice, it is the
good whom one punishes for the sake of the evil; when one saves the guilty from suffering, it is the
innocent whom one forces to suffer.  There is no escape from justice, nothing can be unearned and unpaid
for in the universe, neither in matter nor in spirit—and if the guilty do not pay, then the innocent have to
pay it."</li>    
      <li>The ignorance plea:  "None of us knew just how the plan would work, but every one of us
thought that the next fellow knew it. And if anybody had doubts, he felt guilty and kept his mouth
shut—because they made it sound like anyone who'd oppose the plan was a child killer at heart and less
than a human being. They told us that this plan would achieve a noble ideal. Well, how were we to know
otherwise?"</li>    
      <li>"Productiveness is your acceptance of morality, your recognition of the fact that you choose to live—that
productive work is the process by which man's consciousness controls his existence, a constant process
of acquiring knowledge and shaping matter to fit one's purpose, of translating an idea into physical form,
of remaking the earth in the image of one's values—that all work is creative work if done by a thinking
mind, and no work is creative if done by a blank who repeats in uncritical stupor a routine he has learned
from others—that your work is yours to choose, and the choice is as wide as your mind, that nothing
more is possible to you and nothing less is human...your work is the purpose of your life, and you must speed past any killer who assumes the right to stop you, that any value you might find outside your work, any other loyalty or love, can be only travelers you choose to share
your journey and must be travelers going on their own power in the same direction.</li>    
      <li>Reality is the arbiter:  "I do not surrender my reason or deal with men who surrender theirs. I have nothing to gain from fools or
cowards; I have no benefits to seek from human vices: from stupidity, dishonesty or fear. The only value
men can offer me is the work of their mind. When I disagree with a rational man, I let reality be our final
arbiter; if I am right, he will learn; if I am wrong, I will; one of us will win, but both will profit."</li>    
      <li>Intolerable Aggression:  "Whatever may be open to disagreement, there is one act of evil that may not, the act that no man may
commit against others and no man may sanction or forgive. So long as men desire to live together, no
man may initiate—do you hear me? no man may start—the use of physical force against others.
"To interpose the threat of physical destruction between a man and his perception of reality, is to negate
and paralyze his means of survival; to force him to act against his own judgment, is like forcing him to act
against his own sight. Whoever, to whatever purpose or extent, initiates the use of force, is a killer acting
on the premise of death in a manner wider than murder: the premise of destroying man's capacity to live."</li>    
      <li>More on aggression: "Do not open your mouth to tell me that your mind has convinced you of your right to force my mind.
Force and mind are opposites; morality ends where a gun begins. When you declare that men are
irrational animals and propose to treat them as such, you define thereby your own character and can no
longer claim the sanction of reason—as no advocate of contradictions can claim it. There can be no 'right'
to destroy the source of rights, the only means of judging right and wrong: the mind."</li>    
      <li>Sacrifice:  "'Sacrifice' is the  surrender of that which you value in favor of that which you don't.  "If you exchange a penny for a dollar, it is not a sacrifice; if you exchange a dollar for a penny, it is. If  you achieve the career you wanted, after years of struggle, it is not a sacrifice; if you then renounce it for  the sake of a rival, it is. If you own a bottle of milk and give it to your starving child, it is not a sacrifice; if
you give it to your neighbor's child and let your own die, it is.  If you give money to help a friend, it is not a sacrifice; if you give it to a worthless stranger, it is. If you  give your friend a sum you can afford, it is not a sacrifice; if you give him money at the cost of your own
discomfort, it is only a partial virtue, according to this sort of moral standard; if you give him money at the
cost of disaster to yourself—that is the virtue of sacrifice in full."</li>    
    </ol>
  <li>Responsibility</li>
    <ol style="list-style-type:lower-alpha">
      <li>Responsibility of your chosen path: "Just as laymen leave medicine to doctors and electronics to engineers, so people who are not qualified to
think should leave all thinking to the experts and have faith in the experts' higher authority."</li>    
      <li>Man vs Animal: "Man has no automatic code of survival. His particular distinction from all other living species is the
necessity to act in the face of alternatives by means of volitional choice."</li>    
      <li>Independance: "Independence is the recognition of the fact that yours is the responsibility of judgment and nothing can
help you escape it—that no substitute can do your thinking, as no pinch-hitter can live your life—that the
vilest form of self-abasement and self-destruction is the subordination of your mind to the mind of
another, the acceptance of an authority over your brain, the acceptance of his assertions as facts, his
say-so as truth, his edicts as middle-man between your consciousness and your existence."</li>    
      <li>Justice: "Justice is the recognition of the fact that you cannot fake the character of men as you cannot fake the
character of nature, that you must judge all men as conscientiously as you judge inanimate objects, with
the same respect for truth, with the same incorruptible vision, by as pure and as rational a process of
identification—that every man must be judged for what he is and treated accordingly...that your moral appraisal is the coin paying men for their virtues or vices, and this payment demands of you as scrupulous an honor as you bring to financial transactions—that to withhold
your contempt from men's vices is an act of moral counterfeiting, and to withhold your admiration from
their virtues is an act of moral embezzlement—that to place any other concern higher than justice is to
devaluate your moral currency and defraud the good in favor of the evil, since only the good can lose by
a default of justice and only the evil can profit—and that the bottom of the pit at the end of that road, the
act of moral bankruptcy, is to punish men for their virtues and reward them for their vices, that that is the
collapse to full depravity, the Black Mass of the worship of death, the dedication of your consciousness
to the destruction of existence."</li>    
      <li>No vacations from reason:  "Whenever you committed the evil of refusing to think and to see, of exempting from the absolute of
reality some one small wish of yours, whenever you chose to say: Let me withdraw from the judgment of
reason the cookies I stole, or the existence of God, let me have my one irrational whim and I will be a
man of reason about all else—that was the act of subverting your consciousness, the act of corrupting
your mind."</li>    
      <li>Compromising agnostics:  "The man who refuses to judge, who neither agrees nor disagrees, who declares that there are no
absolutes and believes that he escapes responsibility, is the man responsible for all the blood that is now
spilled in the world. Reality is an absolute, existence is an absolute, a speck of dust is an absolute and so
is a human life. Whether you live or die is an absolute. Whether you have a piece of bread or not, is an
absolute.
...
There are two sides to every issue: one side is right and the other is wrong, but the middle is always evil.
The man who is wrong still retains some respect for truth, if only by accepting the responsibility of choice.
...
When men reduce their virtues to the approximate, then evil acquires the force
of an absolute, when loyalty to an unyielding purpose is dropped by the virtuous, it's picked up by
scoundrels—and you get the indecent spectacle of a cringing, bargaining, traitorous good and a
self-righteously uncompromising evil."</li>    
    </ol>
  <li>In Defense of Reason</li>
    <ol style="list-style-type:lower-alpha">
      <li>Paying the price:  "Man's life, as required by his nature, is not the life of a mindless brute, of a looting thug or a mooching
mystic, but the life of a thinking being—not life by means of force or fraud, but life by means of
achievement—not survival at any price, since there's only one price that pays for man's survival: reason."</li>    
      <li>Truth:  Truth is the recognition of reality; reason, man's only means of knowledge, is his only standard of truth.</li>    
      <li>The base virtue and vice:  "Thinking is man's only basic virtue, from which all the others proceed. And his basic vice, the source of
all his evils, is that nameless act which all of you practice, but struggle never to admit: the act of blanking
out, the willful suspension of one's consciousness, the refusal to think—not blindness, but the refusal to
see; not ignorance, but the refusal to know.</li>    
      <li>It is therefore I am:  "By refusing to say 'It is,’ you are refusing to say 'I am.' By suspending your judgment, you are negating your person. When a man
declares: 'Who am I to know?'—he is declaring: 'Who am I to live?'"</li>    
      <li>The morality of reason: "My morality, the morality of reason, is contained in a single axiom: existence exists—and in a single
choice: to live. The rest proceeds from these. To live, man must hold three things as the supreme and
ruling values of his life: Reason—Purpose—Self-esteem. Reason, as his only tool of
knowledge—Purpose, as his choice of the happiness which that tool must proceed to
achieve—Self-esteem, as his inviolate certainty that his mind is competent to think and his person is
worthy of happiness, which means: is worthy of living. These three values imply and require all of man's
virtues, and all his virtues pertain to the relation of existence and consciousness: rationality, independence,
integrity, honesty, justice, productiveness, pride."</li>    
      <li>Emotions from values:  "Emotions are inherent in your nature, but their content is dictated by your mind. Your emotional
capacity is an empty motor, and your values are the fuel with which your mind fills it."</li>    
      <li>The "savage": "To a savage, the world is a place of unintelligible miracles where anything is possible to inanimate matter
and nothing is possible to him.
His world is not the unknown, but that irrational horror: the unknowable. He believes that physical
objects are endowed with a mysterious volition, moved by causeless, unpredictable whims, while he is a
helpless pawn at the mercy of forces beyond his control. He believes that nature is ruled by demons who
possess an omnipotent power and that reality is their fluid plaything, where they can turn his bowl of meal
into a snake and his wife into a beetle at any moment...He can count on nothing, he can only wish, and he spends his life on wishing, on begging his demons to grant him his wishes by the arbitrary power of their will, giving them credit when they do, taking the blame when
they don't, offering them sacrifices in token of his gratitude and sacrifices in token of his guilt, crawling on
his belly in fear and worship of sun and moon and wind and rain and of any thug who announces himself
as their spokesman, provided his words are unintelligible and his mask sufficiently frightening—he wishes,
begs and crawls, and dies, leaving you, as a record of his view of existence, the distorted monstrosities of
his idols"</li>    
      <li>The mental strike in the face of oppression:  "There have always been men of intelligence who went on strike, in protest and despair, but they did not know the
meaning of their action. The man who retires from public life, to think, but not to share his thoughts—the
man who chooses to spend his years in the obscurity of menial employment, keeping to himself the fire of
his mind, never giving it form, expression or reality, refusing to bring it into a world he despises—the man
who is defeated by revulsion, the man who renounces before he has started, the man who gives up rather
than give in, the man who functions at a fraction of his capacity, disarmed by his longing for an ideal he
has not found—they are on strike, on strike against unreason, on strike against your world and your
values. But not knowing any values of their own, they abandon the quest to know—in the darkness of
their hopeless indignation, which is righteous without knowledge of the right, and passionate without
knowledge of desire, they concede to you the power of reality and surrender the incentives of their
mind—and they perish in bitter futility, as rebels who never learned the object of their rebellion, as lovers
who never discovered their love.  The infamous times you call the Dark Ages were an era of intelligence on strike, when men of ability
went underground and lived undiscovered, studying in secret, and died, destroying the works of their
mind, when only a few of the bravest of martyrs remained to keep the human race alive. Every period
ruled by mystics was an era of stagnation and want, when most men were on strike against existence,
working for less than their barest survival, leaving nothing but scraps for their rulers to loot, refusing to
think, to venture, to produce, when the ultimate collector of their profits and the final authority on truth or
error was the whim of some gilded degenerate sanctioned as superior to reason by divine right and by
grace of a club."</li>    
      <li>"Every form of causeless self-doubt, every feeling of inferiority and secret unworthiness is, in fact, man's
hidden dread of his inability to deal with existence...To fear to face an issue is to believe that the worst is true."</li>    
      <li>Acting on reason when surrounded by the unreasonable:  "build a productive life of your own with those who
accept your moral code and are willing to struggle for a human existence. You have no chance to win on
the Morality of Death or by the code of faith and force; raise a standard to which the honest will repair:
the standard of Life and Reason.  Act as a rational being and aim at becoming a rallying point for all those who are starved for a voice of
integrity—act on your rational values, whether alone in the midst of your enemies, or with a few of your
chosen friends, or as the founder of a modest community on the frontier of mankind's rebirth."</li>    
    </ol>
  <li>Communism</li>
    <ol style="list-style-type:lower-alpha">
      <li>Ability vs Need:  "From each according to his ability, to each according to his need. . . But you don't all stand working an acetylene torch ten hours a day—together, and you don't all get a bellyache—together. What's whose ability and which of whose needs comes first?"</li>  
      <li>Results of rewarding need over ability: "We began to hide whatever ability we had, to slow down and watch like hawks that we never worked
any faster or better than the next fellow. What else could we do, when we knew that if we did our best
for 'the family,' it's not thanks or rewards that we'd get, but punishment?  We knew that for every stinker
who'd ruin a batch of motors and cost the company money—either through his sloppiness, because he
didn't have to care, or through plain incompetence—it's we who'd have to pay with our nights and our
Sundays. So we did our best to be no good."</li>  
      <li>Pleasures are always guilty ones:  "Hobbies? There wasn't any 'amusement allowance' for anybody."  "Aren't you always supposed to be ashamed to object when anybody asks you to give up anything, if it's something that gave you pleasure?"</li>  
      <li>Production: "Babies was the only item of production that didn't fall....  In fact, the best chance you had of getting a raise and breathing
easier for a while was a 'baby allowance.' Either that, or a major disease."</li>  
      <li> The human incompetent:  "What we are now asked to worship, what had once been dressed as God or king, is the naked,
twisted, mindless figure of the human Incompetent"</li>   
    </ol>
  <li>Management</li>
    <ol style="list-style-type:lower-alpha">
      <li>Bad business indicates hidden agenda:  ""Any man who's afraid of hiring the best ability he can find, is a cheat who's in a business where he
doesn't belong.  To me—the foulest man on earth, more contemptible than a criminal, is the employer who rejects men for being too good."</li>
    </ol>
  <li>Historical Ideology and Human Suffering</li>
    <ol style="list-style-type:lower-alpha">
      <li>Mystics and Kings:  "The tragic joke of human history is that on any of the altars men erected, it was always man whom they
immolated and the animal whom they enshrined. It was always the animal's attributes, not man's, that
humanity worshipped: the idol of instinct and the idol of force—the mystics and the kings—the mystics,
who longed for an irresponsible consciousness and ruled by means of the claim that their dark emotions
were superior to reason, that knowledge came in blind, causeless fits, blindly to be followed, not
doubted—and the kings, who ruled by means of claws and muscles, with conquest as their method and
looting as their aim, with a club or a gun as sole sanction of their power."</li>
      <li>The perpetration of the unjust:   "The defenders of man's soul were concerned with his feelings, and the defenders of man's body were concerned with his
stomach—but both were united against his mind. Yet no one, not the lowest of humans, is ever able fully to renounce his brain. No one has ever believed in the irrational; what they do believe in is the unjust."</li>
      <li>Suffering for God or Country:  "For centuries, the battle of morality was fought between those who claimed that your life belongs to
God and those who claimed that it belongs to your neighbors—between those who preached that the
good is self-sacrifice for the sake of ghosts in heaven and those who preached that the good is
self-sacrifice for the sake of incompetents on earth. And no one came to say that your life belongs to you
and that the good is to live it."</li>
      <li>Destroyers:  "Your fear of death is not a love for life and will not give you the knowledge needed to keep it. Man must obtain his knowledge and choose his actions by a process of thinking, which nature will not force him to perform. Man has the power to act as his own destroyer—and that is the way he has acted through most of his history."</li>
      <li>Mystics vs Traders:  The mystic parasites who have, throughout the ages, reviled the traders and held them in contempt, while honoring
the beggars and the looters, have known the secret motive of their sneers: a trader is the entity they
dread—a man of justice." "A trader is a man who earns what he gets and does not give or take the undeserved. A trader does not ask to be paid for
his failures, nor does he ask to be loved for his flaws....Just as he does not give his work except in trade for material values, so he does not give
the values of his spirit—his love, his friendship, his esteem—except in payment and in trade for human virtues, in payment for his own selfish pleasure, which he receives from men he can respect. "</li>
      <li>Permitting the mystics:  "Make no mistake about the character of mystics. To undercut your consciousness has always been their
only purpose throughout the ages —and power, the power to rule you by force, has always been their
only lust...But it cannot be done to you without your consent. If you permit it to be done, you deserve it."</li>
      <li>Fear, mystics and dictators:  "A mystic is a man who surrendered his mind at its first encounter with the minds of others...Faith in the supernatural begins as faith in the superiority of others. His surrender
took the form of the feeling that he must hide his lack of understanding, that others possess some
mysterious knowledge of which he alone is deprived, that reality is whatever they want it to be, through
some means forever denied to him.  From then on, afraid to think, he is left at the mercy of unidentified feelings. His feelings become his only
guide, his only remnant of personal identity, he clings to them with ferocious possessiveness—and
whatever thinking he does is devoted to the struggle of hiding from himself that the nature of his feelings is
terror.  When a mystic declares that he feels the existence of a power superior to reason, he feels it all right, but
that power is not an omniscient super-spirit of the universe, it is the consciousness of any passer-by to
whom he has surrendered his own...'They' are his only key to reality, he feels that
he cannot exist save by harnessing their mysterious power and extorting their unaccountable consent,
'They' are his only means of perception and, like a blind man who depends on the sight of a dog, he feels
he must leash them in order to live. To control the consciousness of others becomes his only passion;
power-lust is a weed that grows only in the vacant lots of an abandoned mind.
"Every dictator is a mystic, and every mystic is a potential dictator."</li>
      <li>Misconception of mystics:  "You who are innocent enough to believe that the forces let loose in your world today are moved by
greed for material plunder—the mystics' scramble for spoils is only a screen to conceal from their mind
the nature of their motive. Wealth is a means of human life, and they clamor for wealth in imitation of
living beings, to pretend to themselves that they desire to live. But their swinish indulgence in plundered
luxury is not enjoyment, it is escape. They do not want to own your fortune, they want you to lose it; they
do not want to succeed, they want you to fail; they do not want to live, they want you to die; they desire
nothing, they hate existence, and they keep running, each trying not to learn that the object of his hatred is
himself.
"You who've never grasped the nature of evil, you who describe them as 'misguided idealists'—may the
God you invented forgive you!—they are the essence of evil, they, those anti-living objects who seek, by
devouring the world, to fill the selfless zero of their soul. It is not your wealth that they're after. Theirs is a
conspiracy against the mind, which means: against life and man."</li>
      <li>Human rights:  "Rights are conditions of existence required by man's nature
for his proper survival. If man is to live on earth, it is right for him to use his mind, it is right to act on his
own free judgment, it is right to work for his values and to keep the product of his work. If life on earth is
his purpose, he has a right to live as a rational being: nature forbids him the irrational. Any group, any
gang, any nation that attempts to negate man's rights, is wrong, which means: is evil, which means: is
anti-life.  Rights are a moral concept—and morality is a matter of choice."</li>
    </ol>
  <li>Happiness</li>
    <ol style="list-style-type:lower-alpha">
      <li>Life and death:  "Happiness is the successful state of life, pain is an agent of death."</li>
      <li>By achievements:  "Happiness is that state of consciousness which proceeds from the achievement of one's values."</li>
      <li>"Happiness is not to be achieved at the command of emotional whims. Happiness is not the satisfaction
of whatever irrational wishes you might blindly attempt to indulge. Happiness is a state of non
contradictory joy—a joy without penalty or guilt, a joy that does not clash with any of your values and
does not work for your own destruction, not the joy of escaping from your mind, but of using your mind's
fullest power, not the joy of faking reality, but of achieving values that are real, not the joy of a drunkard,
but of a producer. Happiness is possible only to a rational man, the man who desires nothing but rational
goals, seeks nothing but rational values and finds his joy in nothing but rational actions."</li>
    </ol>
</ol>


</p>
