<h3>Mathematics</h3>  
<p>
<ol>
  <li>TAOCP Math</li>
    <ol style="list-style-type:lower-alpha">
      <li>Chapter 1 formal definition...ugh, could not reproduce this, need proof help</li>
    </ol>
  <li>Mathematical Philosphy</li>
    <ol style="list-style-type:lower-alpha">
      <li>Chapter 1: Peano's 3 ideas</li>
      <li>Chapter 1: Peano's 5 propositions</li>
    </ol>
  <li>Math Proofs Demystified</li>
    <ol style="list-style-type:lower-alpha">
      <li>Chapter 1:</li>
        <ol style="list-style-type:lower-roman">
          <li>Name of this basic system of logic:  Propositional logic or Sentential logic or Propositional calculus or Sentential calculus</li>
          <li>Propositional and sentential refer to "complete sentences"</li>
          <li>Calculus, used in field of logic, refers to:  A formal system of reasoning</li>
          <li>Let can be defined as "imagine that things are this way:"</li>
          <li>Sentences should be represented by an <b>uppercase</b> letter
          <li>to "NOT" something is Negation (symbols could be a "-", "~" or a minus sign with a vertical line hanging from the right side)</li>
          <li>logical "AND" is Conjunction (symbols could be "&", a lowered carat "^", "*", ".", "x" or a raised ".")</li>
          <li>logical "OR" is Disjunction (symbols could be "+" or an wedge that's like a raised lowercase "v")</li>
          <li>Implication "If...Then..." (symbols could be a "U" tilted on it's left side or the 3 dots like I use to replace therefore or a single-barred right arrow or a double-barred right arrow)</li>
          <li>Logical Equivalence "If and only if" or "IFF" (symbols could be a 3 barred equal sign or a double-headed, single-barred arrow or a double-headed, double-barred arrow</li>
          <li>Q.E.D. means Quod erat demonstradum which translates to "which was to be demonstrated" and that is written at the end of a proof.
          <li>I also had forgotten one of the logic rules:  The Law of Implication Reversal (x->y)<->(-y->-x)</li>
          <li></li>
        </ol>
      <li>Chapter 1 Quiz results: 100%</li>
    </ol>
  <li></li>
    <ol style="list-style-type:lower-alpha">
      <li>Identify biggest needs</li>
      <li>Identify biggest weaknesses</li>
    </ol>
</ol>
