<h3>Memory Dump</h3>  
<p>
Raw notes (remove when done):
- Blog: <a href="http://thewaronbullshit.com">theWaronBullshit.com</a>
- That mental image of math on the left, design purity on the right and programming in the middle
- Ayn Rand
- Selfishness: from political apathy to powerfull corruption
- American empire, hollywood, democracy, constitution, wall street, immigration, religion, silicon valley (the good)
- "Bret Victor - Inventing on Principle":  The first domino to fall in this memory dump.
<ol>
  <li>A summation of thoughts from a cool summer night:</li>
  <ol>
    <li>Why?</li>
    <ol>
      I do this regularly and I've been slowly realizing that I'm not alone.<br /><br />
      This seems like an innocuous statement yet "real world" experience would suggest
      that I am alone.  I say "real world" because I have never met anyone with 
      my beliefs even though my thoughts seem like the most ordinary, common-sense 
      thoughts to me.<br /><br />
      My "virtual world" experience lately has led me to believe that I may not be as 
      alone as I feared.  Let me pause here to clarify...<br />
      <li>Virtual world:  My lack of cleverness has pushed me to the over-used 
          descriptors: Virtual world and real world.  I'm using virtual world
          to indicate the information I have consumed on the internet from people 
          I have never met.</li>
      <li>Real world:  Given that definition of virtual world, real world is the information 
          I obtain from conversations with co-workers, friends, family and brief acquantances.
          I shouldn't really use the term friends here because I currently have none - you will
          understand why as you read on (even though you might think you understand already.)</li>
      <li>Alone:  I believe what makes sense after a lifetime of introspection and although I
          can find each belief I hold in someone nearby, I have never met anyone who shares enough of
          them to be able to call them like-minded.</li>
      <li>Fear:  The fear of being alone in my beliefs.  I fear this because my beliefs come 
          from a desire to understand how to improve not only myself but also society in 
          general.  To be alone in my beliefs means I've wasted an enormous amount of time 
          thinking or, even scarier, that nobody else truly shares my desire for a better society.</li>
      <li>Memory dump:  Although I probably spend an average of 3 hours a day in deep introspective 
          thought, a successful review and integration of these thoughts with my beliefs occurs only 
          a few times a season - usually.  Writing down the outcome of this event is my memory dump.
          I feel a memory dump is only necessary when a fundamental shift occurs.</li>
    </ol>
    <li>What?</li>
    <ol>
      This memory dump is brought on because I'm starting to see a correllation between my beliefs 
      and my chosen career.  The desire to improve myself and my society coupled with my emotional 
      personality is the source of my belief system AND the reason I have chosen a career in software 
      development.  Before I can proceed, I must elaborate on my beliefs, my emotional personality and
      a precise definition on my chosen career:
      <li>Beliefs:</li>
      <ol>
        <li>What am I?</li>
        <ol>
          <li>Physically:</li>
          <ol>
            <li>I accept almost completely the consensus of the purely scientific community and would 
            take one step further towards those who share the conclusions of Richard Dawkins</li>
          </ol>
          <li>Psychologically:</li> 
          <ol>
            <li></li>
          </ol>      
        </ol>
        <li>Where am I?</li>
        <ol>
          <li></li>        
        </ol>
        <li>Why?</li>
        <ol>
          <li></li>        
        </ol>
      </ol>
      <li>Emotional Personality:</li>
      <ol>
        <li></li>
      </ol>
      <li>Career:</li>
      <ol>
        <li>Socially progressive choice for the 90's: Software Developer</li>
        <ol>
          <li>Computers were big news in the 80's and it was obvious there was no end in sight 
              to the changes they would bring to work and life in general.</li>
          <li>Working in Fortran in a first year engineering course, I found programming to 
              be very addictive.</li>
          <li>When engineering started to lose it's allure, I turned to computer science.</li>
          <li>I later realized that this was ideologically a better fit that engineering because 
              it was newer and the possibilities to affect society seemed endless.</li>
          <li>As I progressed to intranet/extranet development, this view only strengthened.</li>
        </ol>
        <li>The bubble bursts:</li>
        <ol>
          <li>Watching projects fail at an alarming rate and internet start-ups blow their
              new-millennium venture capital, I started to question my career choice.</li>
          <li>Further alienation occured as a battered Microsoft Visual Basic/ASP developer as 
              previously celebrated new Microsoft technologies are dropped at a disheartening rate. 
              RDO and Frontpage are the first of many that come to mind.</li>
        </ol>
      </ol>      
    </ol>
  </ol>
</ol>
</p>
