<h3>Libertarian Politics</h3>  
<p>
<ol>
  <li>Current thoughts</li>
    <ol style="list-style-type:lower-alpha">
      <li>StumbleUpon with categories Activism and Liberties/Rights - The fastest and most thorough way to bypass corporate media bias</li>
      <li>Still feeling the love for OpenMedia.ca</li>
      <li>
  <li>Mourn the Ron Paul campaign</li>
  <li>See what I can do</li>
</ol>

