<h3>Libertarian Politics</h3>  
<p>
<ol>
  <li>Current thoughts</li>
    <ol style="list-style-type:lower-alpha">
      <li><a href="http://www.stumbleupon.com/">StumbleUpon</a> with categories Activism and Liberties/Rights - The fastest and funnest way to bypass corporate media bias</li>
      <li>Still feeling the love for <a href="http://www.openmedia.ca">OpenMedia.ca</a></li>
      <li>Mourning the Ron Paul campaign</li>
    </ol>
  <li>Reading:</li>
    <ol style="list-style-type:lower-alpha">
    </ol>
  <li>Finished Reading:</li>
    <ol style="list-style-type:lower-alpha">
      <li><b><i><a href="http://en.wikipedia.org/wiki/Atlas_shrugged">Atlas Shrugged</a></i></b> by Ayn Rand.  Please see <a href="/practices/atlasanalysis">my analysis</a> of the book.</li>
      <li><b><i><a href="http://en.wikipedia.org/wiki/End_the_Fed">End the Fed</a></i></b> by Ron Paul.  Excellent book, hungry for more.</li>
      <li><b><i><a href="http://en.wikipedia.org/wiki/The_Revolution:_A_Manifesto">The Revolution: A Manifesto</a></i></b> by Ron Paul.  Awesome introduction to Libertarianism.</li>
    </ol>
  <li>Action:</li>
    <ol style="list-style-type:lower-alpha">
      <li>Used the online form to submit a letter to a representative for just about every cause at <a href="http://www.openmedia.ca">OpenMedia.ca</a></li>
    </ol>
</ol>

