<h3>Rails Tutorial Chapter 5: Filling in the layout - step-by-step</h3>
<br />
<ol>
  <li>Start <a href="http://ruby.railstutorial.org/chapters/modeling-users#top">Rails Tutorial - Chapter 6</a></li>
  <li>$ git branch</li>
  <ol>
    <li>Result:  </li>
    filling-in-layout<br />
    * master<br />
  </ol>
  <li>$ git branch -d filling-in-layout</li>
  <li>$ git co -b modeling-users</li>
  <li>$ rails generate model User name:string email:string</li>
  <ol>
    <li>Result:</li>
      invoke  active_record<br />
      create    db/migrate/20120611023745_create_users.rb<br />
      create    app/models/user.rb<br />
      invoke    rspec<br />
      create      spec/models/user_spec.rb<br />
  </ol>
  <li>$ geany db/migrate/20120611023745_create_users.rb</li>
  <ol>
    <li></li>
  </ol>
  
</ol>
