<h3>Ruby Dev</h3>  
<p>
<ol style="list-style-type:lower-alpha">
  <li>Web Framework: Sinatra or</li>
  <li>Ben Franklin approach using other's code or </li>
  <li>Setup new virtual appliance</li>
</ol>
