<b>Week 7 - April 15, 2012</b>
<p>
Beautiful spring day!  My awesome husband took us and the puppy to the boardwalk and then the dairy bar for a treat!<br />
Now I'm exhausted and I'm taking a long nap.
</p>
